{% extends 'base.html'%}

{% block title %}Profile{% endblock %}

{% block content %}
  <h2 class="text-center">{{user.username}}</h2>

    {% if request.user.id == user.id %}
        <p>
            <a href="{% url 'posts:post-create' %}" class="btn btn-primary">Create Post</a>
        </p>
    {% endif %}

    {% if request.user.id != user.id and not is_following %}
        <p>
            <a class="btn btn-info" href="{% url 'account:user-follow' user.id %}">Follow</a>
        </p>
    {% elif request.user.id != user.id and is_following %}
        <p>
            <a class="btn btn-info" href="{% url 'account:user-unfollow' user.id %}">Unfollow</a>
        </p>
    {% endif %}

   <div class="card">
        {% for post in user.posts.all %}
            <p class="card-body">
                <a href="{{ post.get_absolute_url }}">{{post.body|truncatewords_html:10}}</a>
            </p>
        {% endfor %}
    </div>
{% endblock %}